//
//  uitests.xcconfig
//  SwiftUILearning
//
//  Created by d on 2023/05/04.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "developer.setting.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID_PREFIX).swiftuilearninguitests
